@font-face {
    font-family: "Regular";   /*Can be any text*/
    src: local("MataRegular"),
      url("./fonts/MataRegular.otf") format("oft");
}

@font-face {
    font-family: "Bold";   /*Can be any text*/
    src: local("MataBold"),
      url("./fonts/MataBold.otf") format("oft");
}

#root {
    position: relative;
    min-height: 100vh;
}

.splashscreen {
    background:
    url("https://images.unsplash.com/photo-1653419831613-56ed2a1c8ea8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80")
    center / cover no-repeat fixed;
    transition: 0.3s;
}

.splash {
    margin: 0 auto;
    height: 100vh !important;
    transform: translate(0%, 25%);
}

body {
    font-family: Roboto,sans-serif;
    background:
    url("https://images.unsplash.com/photo-1653419831613-56ed2a1c8ea8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80")
    center / cover no-repeat fixed;
}
  
.Content {
    text-align: center;
    background: transparent;
}

header {
    text-align: center;
    background: transparent;
    color:#fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border-bottom: 4px solid rgba( 255, 255, 255, 0.25 );
    .heading {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .blerb {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        line-height: 1.5em;
        max-width: 80%;
        margin: 0 auto;
    }
}

footer {
    text-align: center;
    background: transparent;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border-top: 4px solid rgba( 255, 255, 255, 0.25 );
    a {
        color:rgb(255, 255, 255);
        text-decoration: none;
    }
}

/* Magnavox Systems */

$mo-primary: rgba( 255, 255, 255, 0.25 );
$mo-secondary: #000;
$mo-tag-bg: rgba( 255, 255, 255, 0.25 );
$mo-tag-c: #000;

$mi-primary: rgba( 255, 255, 255, 0.25 );
$mi-secondary: #000;
$mi-tag-bg: rgba( 255, 255, 255, 0.25 );
$mi-tag-c: #000;

/* Sega Systems */

$sg-primary: rgba(128, 128, 128, 0.25);
$sg-secondary: #000;
$sg-tag-bg: rgba(128, 128, 128, 0.25);
$sg-tag-c: #000;

$ss-primary: rgba(206, 206, 206, 0.25);
$ss-secondary: #000;
$ss-tag-bg: rgba(206, 206, 206, 0.25);
$ss-tag-c: #000;

$sd-primary: rgba(236, 132, 50, 0.25);
$sd-secondary: #fff;
$sd-tag-bg: rgba(236, 132, 50, 0.25);
$sd-tag-c: #fff;

/* Atari Systems */

$ahp-primary: rgba( 255, 255, 255, 0.25 );
$ahp-secondary: #000;
$ahp-tag-bg: rgba( 255, 255, 255, 0.25 );
$ahp-tag-c: #000;

$a26-primary: rgba( 255, 255, 255, 0.25 );
$a26-secondary: #000;
$a26-tag-bg: rgba( 255, 255, 255, 0.25 );
$a26-tag-c: #000;

$a52-primary: rgba( 255, 255, 255, 0.25 );
$a52-secondary: #000;
$a52-tag-bg: rgba( 255, 255, 255, 0.25 );
$a52-tag-c: #000;

$aj-primary: rgba(130, 21, 16, 0.25);
$aj-secondary: #000;
$aj-tag-bg: rgba(130, 21, 16, 0.25);
$aj-tag-c: #000;

/* Apple Systems */

$ap-primary: rgba( 255, 255, 255, 0.25 );
$ap-secondary: #000;
$ap-tag-bg: rgba( 255, 255, 255, 0.25 );
$ap-tag-c: #000;

/* PlayStation Systems */

$ps1-primary: rgba(169, 166, 166, 0.25);
$ps1-secondary: #1f191d;
$ps1-tag-bg: rgba(169, 166, 166, 0.25);
$ps1-tag-c: #000;

$ps2-primary: rgba(38, 38, 38, 0.25);
$ps2-secondary: rgba(0, 180, 255, 1);
$ps2-tag-bg: rgba(38, 38, 38, 0.25);
$ps2-tag-c: #fff;

$ps3-primary: rgba(32, 32, 32, 0.25);
$ps3-secondary: #fff;
$ps3-tag-bg: rgba(32, 32, 32, 0.25);
$ps3-tag-c: #fff;

$ps4-primary: rgba(0, 55, 145, 0.25);
$ps4-secondary: #fff;
$ps4-tag-bg: rgba(0, 55, 145, 0.25);
$ps4-tag-c: #fff;

$ps5-primary: rgba(0, 67, 156, 0.25);
$ps5-secondary: #fff;
$ps5-tag-bg: rgba(0, 67, 156, 0.25);
$ps5-tag-c: #fff;

/* Nintendo Systems */

$nes-primary: rgba(205, 0, 0, 0.25);
$nes-secondary: #fff;
$nes-tag-bg: rgba(205, 0, 0, 0.25);
$nes-tag-c: #fff;

$snes-primary: rgba(79, 67, 174, 0.25);
$snes-secondary: #fff;
$snes-tag-bg: rgba(79, 67, 174, 0.25);
$snes-tag-c: #fff;

$n64-primary: rgba(50, 153, 0, 0.25);
$n64-secondary: #fff;
$n64-tag-bg: rgba(50, 153, 0, 0.25);
$n64-tag-c: #000;

$ngc-primary: rgba(109, 93, 180, 0.25);
$ngc-secondary: #fff;
$ngc-tag-bg: rgba(109, 93, 180, 0.25);
$ngc-tag-c: #fff;

$wii-primary: rgba(128, 128, 128, 0.25);
$wii-secondary: #fff;
$wii-tag-bg: rgba(128, 128, 128, 0.25);
$wii-tag-c: #fff;

$wiiu-primary: rgba(0, 154, 199, 0.25);
$wiiu-secondary: #fff;
$wiiu-tag-bg: rgba(0, 154, 199, 0.25);
$wiiu-tag-c: #fff;

$ns-primary: rgba(230, 0, 19, 1);
$ns-secondary: #fff;
$ns-tag-bg: rgba(230, 0, 19, 0.8);
$ns-tag-c: #fff;

/* Xbox Systems */

$xb-primary: rgba(38, 38, 38, 0.25);
$xb-secondary: rgba(90, 171, 67, 1);
$xb-tag-bg: rgba(38, 38, 38, 0.25);
$xb-tag-c: rgba(90, 171, 67, 1);

$xb360-primary: rgba(126, 185, 0, 0.25);
$xb360-secondary: #fff;
$xb360-tag-bg: rgba(126, 185, 0, 0.25);
$xb360-tag-c: #fff;

$xb1-primary: rgba(58, 58, 58, 0.25);
$xb1-secondary: #fff;
$xb1-tag-bg: rgba(58, 58, 58, 0.25);
$xb1-tag-c: #fff;

$xbsx-primary: rgba(230, 230, 230, 1);
$xbsx-secondary: #000;
$xbsx-tag-bg: #000;
$xbsx-tag-c: #fff;

.vertical-timeline {
    &::before {
        background: rgba( 255, 255, 255, 0.25 ) !important;
    }
}
  
  
.vertical-timeline-element-image {
    max-width: 100%;
    height: 200px;
    margin: 1rem 0;
}

  .vertical-timeline--animate {
    .vertical-timeline-element-icon {
        background: #fff;
        color: #000;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .vertical-timeline-element-content {
        border-radius: 10px;
        color: #000;
        p {
            text-align: left;
            font-size: 1rem;
        }
        .vertical-timeline-element-date {
            color: #fff;
            opacity: 1;
        }
        .units {
            position: absolute;
            top: -1em;
            right: 0em;
            background: #fff;
            color: #000;
            padding: 8px;
            border-radius: 10px;
            font-weight: bold;
        }
        .Tags {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-bottom: 8px;
            gap: 6px;
            >*>* {
                padding-left: 15px!important;
                padding-right: 15px!important;
            }
            .Tag {
                height: 32px;
                cursor: default;
                color: #000;
                border: none;
                display: inline-flex;
                outline: none;
                padding: 0;
                font-size: 0.8125rem;
                font-weight: 600;
                transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                align-items: center;
                white-space: nowrap;
                border-radius: 16px;
                justify-content: center;
                text-decoration: none;
                background-color: #e0e0e0;
                span {
                    cursor: inherit;
                    display: flex;
                    align-items: center;
                    user-select: none;
                    white-space: nowrap;
                }
                &:hover,:focus {
                    outline-offset: 2px;
                    outline-color: initial;
                    outline-style: auto;
                    outline-width: 2px;
                }
            }
        }
        .vertical-timeline-element-content-arrow {
            border-right: 7px solid rgb(255, 255, 255);
        }
        .best-selling-games {
            display: flex;
            flex-direction: column;
            h4 {
                text-align: left;
            }
            ol {
                padding-inline-start: 1.5em;
                margin: 0;
                margin-block-start: 0;
                margin-block-end: 0;
                text-align: left;
                li {
                    margin-right: 1.5em;
                }
            }
        }
    }
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) { 
    .vertical-timeline--animate {
        .vertical-timeline-element-content {
            /* From https://css.glass */
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: none;
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            transition: 0.3s;
            &:hover,:focus {
                transform: translateY(-10px);
                border-color: transparent;
                border-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

  .vertical-timeline--animate {
    .vertical-timeline-element-content:nth-child(even) {
        .vertical-timeline-element-date {
            text-align: left;
        }
    }
  }

    /* Magnavox Systems */

    #MO {
        .vertical-timeline-element-icon {
            background: $mo-tag-bg;
            color: $mo-tag-c;
        }
        .vertical-timeline-element-content {
            background: $mo-primary;
            color: $mo-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $mo-primary;
            }
            .units {
                background: $mo-secondary;
                color: $mo-primary;
            }
            .Tags {
                .Tag {
                    background: $mo-tag-bg;
                    color: $mo-tag-c;
                }
            }
        }
    }

    #MI {
        .vertical-timeline-element-icon {
            background: $mi-tag-bg;
            color: $mi-tag-c;
        }
        .vertical-timeline-element-content {
            background: $mi-primary;
            color: $mi-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $mi-primary;
            }
            .units {
                background: $mi-secondary;
                color: $mi-primary;
            }
            .Tags {
                .Tag {
                    background: $mi-tag-bg;
                    color: $mi-tag-c;
                }
            }
        }
    }

    /* End */

    /* Sega Systems */

    #SG {
        .vertical-timeline-element-icon {
            background: $sg-tag-bg;
            color: $sg-tag-c;
        }
        .vertical-timeline-element-content {
            background: $sg-primary;
            color: $sg-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $sg-primary;
            }
            .units {
                background: $sg-secondary;
                color: $sg-primary;
            }
            .Tags {
                .Tag {
                    background: $sg-tag-bg;
                    color: $sg-tag-c;
                }
            }
        }
    }

    #SS {
        .vertical-timeline-element-icon {
            background: $ss-tag-bg;
            color: $ss-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ss-primary;
            color: $ss-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ss-primary;
            }
            .units {
                background: $ss-secondary;
                color: $ss-primary;
            }
            .Tags {
                .Tag {
                    background: $ss-tag-bg;
                    color: $ss-tag-c;
                }
            }
        }
    }

    #SD {
        .vertical-timeline-element-icon {
            background: $sd-tag-bg;
            color: $sd-tag-c;
        }
        .vertical-timeline-element-content {
            background: $sd-primary;
            color: $sd-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $sd-primary;
            }
            .units {
                background: $sd-secondary;
                color: $sd-primary;
            }
            .Tags {
                .Tag {
                    background: $sd-tag-bg;
                    color: $sd-tag-c;
                }
            }
        }
    }

    /* End */

    /* Atari Systems */

    #AHP {
        .vertical-timeline-element-icon {
            background: $ahp-tag-bg;
            color: $ahp-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ahp-primary;
            color: $ahp-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ahp-primary;
            }
            .units {
                background: $ahp-secondary;
                color: $ahp-primary;
            }
            .Tags {
                .Tag {
                    background: $ahp-tag-bg;
                    color: $ahp-tag-c;
                }
            }
        }
    }
      
    #A26 {
        .vertical-timeline-element-icon {
            background: $a26-tag-bg;
            color: $a26-tag-c;
        }
        .vertical-timeline-element-content {
            background: $a26-primary;
            color: $a26-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $a26-primary;
            }
            .units {
                background: $a26-secondary;
                color: $a26-primary;
            }
            .Tags {
                .Tag {
                    background: $a26-tag-bg;
                    color: $a26-tag-c;
                }
            }
        }
    }

      #A52 {
        .vertical-timeline-element-icon {
            background: $a52-tag-bg;
            color: $a52-tag-c;
        }
        .vertical-timeline-element-content {
            background: $a52-primary;
            color: $a52-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $a52-primary;
            }
            .units {
                background: $a52-secondary;
                color: $a52-primary;
            }
            .Tags {
                .Tag {
                    background: $a52-tag-bg;
                    color: $a52-tag-c;
                }
            }
        }
      }

      #AJ {
        .vertical-timeline-element-icon {
            background: $aj-tag-bg;
            color: $aj-tag-c;
        }
        .vertical-timeline-element-content {
            background: $aj-primary;
            color: $aj-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $aj-primary;
            }
            .units {
                background: $aj-secondary;
                color: $aj-primary;
            }
            .Tags {
                .Tag {
                    background: $aj-tag-bg;
                    color: $aj-tag-c;
                }
            }
        }
      }

    /* End */

     /* Apple Systems */
      
     #AP {
        .vertical-timeline-element-icon {
            background: $ap-tag-bg;
            color: $ap-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ap-primary;
            color: $ap-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ap-primary;
            }
            .units {
                background: $ap-secondary;
                color: $ap-primary;
            }
            .Tags {
                .Tag {
                    background: $ap-tag-bg;
                    color: $ap-tag-c;
                }
            }
        }
    }

    /* End */

    /* PlayStation Systems */

    #PS1 {
        .vertical-timeline-element-icon {
            background: $ps1-tag-bg;
            color: $ps1-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ps1-primary;
            color: $ps1-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ps1-primary;
            }
            .units {
                background: $ps1-secondary;
                color: $ps1-primary;
            }
            .Tags {
                .Tag {
                    background: $ps1-tag-bg;
                    color: $ps1-tag-c;
                }
            }
        }
      }
      
      #PS2 {
        .vertical-timeline-element-icon {
            background: $ps2-tag-bg;
            color: $ps2-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ps2-primary;
            color: $ps2-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ps2-primary;
            }
            .units {
                background: $ps2-secondary;
                color: $ps2-primary;
            }
            .Tags {
                .Tag {
                    background: $ps2-tag-bg;
                    color: $ps2-tag-c;
                }
            }
        }
      }
      
      #PS3 {
        .vertical-timeline-element-icon {
            background: $ps3-tag-bg;
            color: $ps3-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ps3-primary;
            color: $ps3-secondary;
            .vertical-timeline-element-title,.vertical-timeline-element-subtitle {
                font-family: "Regular";
                line-height: 1.5;
                font-size: medium;
            }
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ps3-primary;
            }
            .units {
                background: $ps3-secondary;
                color: $ps3-primary;
            }
            .Tags {
                .Tag {
                    background: $ps3-tag-bg;
                    color: $ps3-tag-c;
                }
            }
        }
      }
      
      #PS4 {
        .vertical-timeline-element-icon {
            background: $ps4-tag-bg;
            color: $ps4-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ps4-primary;
            color: $ps4-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ps4-primary;
            }
            .units {
                background: $ps4-secondary;
                color: $ps4-primary;
            }
            .Tags {
                .Tag {
                    background: $ps4-tag-bg;
                    color: $ps4-tag-c;
                }
            }
        }
      }
      
      #PS5 {
        .vertical-timeline-element-icon {
            background: $ps5-tag-bg;
            color: $ps5-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ps5-primary;
            color: $ps5-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ps5-primary;
            }
            .units {
                background: $ps5-secondary;
                color: $ps5-primary;
            }
            .Tags {
                .Tag {
                    background: $ps5-tag-bg;
                    color: $ps5-tag-c;
                }
            }
        }
      }

    /* End */

    /* Nintendo Systems */

    #NES {
        .vertical-timeline-element-icon {
            background: $nes-tag-bg;
            color: $nes-tag-c;
        }
        .vertical-timeline-element-content {
            background: $nes-primary;
            color: $nes-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $nes-primary;
            }
            .units {
                background: $nes-secondary;
                color: $nes-primary;
            }
            .Tags {
                .Tag {
                    background: $nes-tag-bg;
                    color: $nes-tag-c;
                }
            }
        }
      }
      
      #SNES {
        .vertical-timeline-element-icon {
            background: $snes-tag-bg;
            color: $snes-tag-c;
        }
        .vertical-timeline-element-content {
            background: $snes-primary;
            color: $snes-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $snes-primary;
            }
            .units {
                background: $snes-secondary;
                color: $snes-primary;
            }
            .Tags {
                .Tag {
                    background: $snes-tag-bg;
                    color: $snes-tag-c;
                }
            }
        }
      }
      
      #N64 {
        .vertical-timeline-element-icon {
            background: $n64-tag-bg;
            color: $n64-tag-c;
        }
        .vertical-timeline-element-content {
            background: $n64-primary;
            color: $n64-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $n64-primary;
            }
            .units {
                background: $n64-secondary;
                color: $n64-primary;
            }
            .Tags {
                .Tag {
                    background: $n64-tag-bg;
                    color: $n64-tag-c;
                }
            }
        }
      }

      #NGC {
        .vertical-timeline-element-icon {
            background: $ngc-tag-bg;
            color: $ngc-tag-c;
        }
        .vertical-timeline-element-content {
            background: $ngc-primary;
            color: $ngc-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ngc-primary;
            }
            .units {
                background: $ngc-secondary;
                color: $ngc-primary;
            }
            .Tags {
                .Tag {
                    background: $ngc-tag-bg;
                    color: $ngc-tag-c;
                }
            }
        }
      }

      #Wii {
        .vertical-timeline-element-icon {
            background: $wii-tag-bg;
            color: $wii-tag-c;
        }
        .vertical-timeline-element-content {
            background: $wii-primary;
            color: $wii-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $wii-primary;
            }
            .units {
                background: $wii-secondary;
                color: $wii-primary;
            }
            .Tags {
                .Tag {
                    background: $wii-tag-bg;
                    color: $wii-tag-c;
                }
            }
        }
      }
      
      #WiiU {
        .vertical-timeline-element-icon {
            background: $wiiu-tag-bg;
            color: $wiiu-tag-c;
        }
        .vertical-timeline-element-content {
            background: $wiiu-primary;
            color: $wiiu-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $wiiu-primary;
            }
            .units {
                background: $wiiu-secondary;
                color: $wiiu-primary;
            }
            .Tags {
                .Tag {
                    background: $wiiu-tag-bg;
                    color: $wiiu-tag-c;
                }
            }
        }
      }
      
      #NS {
        .vertical-timeline-element-icon {
            background: $ns-tag-bg;
            color: $ns-tag-c;
        }
        .vertical-timeline-element-content {
            font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
            background: $ns-primary;
            color: $ns-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $ns-primary;
            }
            .units {
                background: $ns-secondary;
                color: $ns-primary;
            }
            .Tags {
                .Tag {
                    background: $ns-tag-bg;
                    color: $ns-tag-c;
                }
            }
        }
      }

    /* End */

    /* Microsoft Systems */

    #XB {
        .vertical-timeline-element-icon {
            background: $xb-tag-bg;
            color: $xb-tag-c;
        }
        .vertical-timeline-element-content {
            background: $xb-primary;
            color: $xb-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $xb-primary;
            }
            .units {
                background: $xb-secondary;
                color: $xb-primary;
            }
            .Tags {
                .Tag {
                    background: $xb-tag-bg;
                    color: $xb-tag-c;
                }
            }
        }
      }
      
      #XB360 {
        .vertical-timeline-element-icon {
            background: $xb360-tag-bg;
            color: $xb360-tag-c;
        }
        .vertical-timeline-element-content {
            background: $xb360-primary;
            color: $xb360-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $xb360-primary;
            }
            .units {
                background: $xb360-secondary;
                color: $xb360-primary;
            }
            .Tags {
                .Tag {
                    background: $xb360-tag-bg;
                    color: $xb360-tag-c;
                }
            }
        }
      }

      #XB1 {
        .vertical-timeline-element-icon {
            background: $xb1-tag-bg;
            color: $xb1-tag-c;
        }
        .vertical-timeline-element-content {
            background: $xb1-primary;
            color: $xb1-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $xb1-primary;
            }
            .units {
                background: $xb1-secondary;
                color: $xb1-primary;
            }
            .Tags {
                .Tag {
                    background: $xb1-tag-bg;
                    color: $xb1-tag-c;
                }
            }
        }
      }
      
      #XBSX {
        .vertical-timeline-element-icon {
            background: $xbsx-tag-bg;
            color: $xbsx-tag-c;
        }
        .vertical-timeline-element-content {
            background: $xbsx-primary;
            color: $xbsx-secondary;
            .vertical-timeline-element-content-arrow {
                border-right: 7px solid $xbsx-primary;
            }
            .units {
                background: $xbsx-secondary;
                color: $xbsx-primary;
            }
            .Tags {
                .Tag {
                    background: $xbsx-tag-bg;
                    color: $xbsx-tag-c;
                }
            }
        }
      }

    /* End */
